<!-- jQuery Integration -->
<script 
    src='{{ url_for("static", filename="js/external/jquery-3.7.1.min.js") }}'
    type="text/javascript"
>
</script>

<!-- Bootstrap Integration -->
<script
    src="{{ url_for('static', filename='js/external/bootstrap.bundle.min.js') }}"
    type="text/javascript"
>
</script>

<!-- Bootstrap Dark Mode Integration -->
<script
    src="{{ url_for('static', filename='js/dark_light_mode_switch.js') }}"
    type="text/javascript"
>
</script>

<!-- HTMX Integration -->
<script 
    src="{{ url_for('static', filename='js/external/htmx.min.js') }}"
    type="text/javascript"
></script>


<!-- Select2 plugin -->
<script 
    src="{{ url_for('static', filename='js/external/select2.min.js') }}"
    type="text/javascript"
>
</script>


<!-- reCaptcha Integration -->
<script 
    src='https://www.google.com/recaptcha/api.js'
    type="text/javascript"
async defer>
</script>

<!-- Cleave.js Integration -->
<script 
    src='{{ url_for("static", filename="js/external/cleave.min.js") }}'
    type="text/javascript"
async defer>
</script>
<script 
    src='{{ url_for("static", filename="js/external/cleave-phone.i18n.js") }}'
    type="text/javascript"
async defer>
</script>



