**/*.pyc
**/*.pyo
**/*.mo
.gitignore
.git/
**/__pycache__/
Dockerfile
db.sqlite3
compose.yaml
compose.prod.yaml
compose.dev.yaml
node_modules/
nginx/
.env
.venv/
.ruff_cache/
CHANGELOG.md
static
static/
example/
examples/