<footer class="footer d-flex pt-4 pb-2 justify-content-center bg-dark shadow-lg mt-3" data-bs-theme="dark">
    <p> 
    Verzija: <span class="bisol-color"> {{ version }} </span>| Copyright &copy; 2025 <span class="fw-bold">BISOL Energija</span>. <span class="">Vse pravice pridržane.</span>
    </p>
</footer>