<!-- CSS imports -->
<link 
    rel="shortcut icon" 
    href="{{ url_for('static', filename='favicon/favicon.ico') }}"
/>
<link 
    rel="stylesheet"   
    href="{{ url_for('static', filename='css/base_styles.css') }}"
/>
<link 
    rel="stylesheet"   
    href="{{ url_for('static', filename='css/bg_border_text_font_style.css') }}"
/>
<link 
    rel="stylesheet"   
    href="{{ url_for('static', filename='css/forms.css') }}"
/>
<link 
    rel="stylesheet"   
    href="{{ url_for('static', filename='css/tables.css') }}"
/>
<link 
    rel="stylesheet"   
    href="{{ url_for('static', filename='css/widths_heights.css') }}"
/>
<!-- Select2 plugin -->
<link
    rel="stylesheet" 
    type="text/css" 
    href="{{ url_for('static', filename='css/external/select2.min.css') }}"
/>
<!-- Bootstrap-->
<link 
    href="{{ url_for('static', filename='css/external/bootstrap.min.css') }}"
    rel="stylesheet" 
    type="text/css"
/>
<link 
    rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
/>